.mainSection{
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
}
.formWrapper{
    width: 70%;
    min-height: 90vh;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
}

.formWrapper form{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}

.formWrapper form input{
    padding: 10px;
    margin: 18px;
    width: 300px;
    border-radius: 5px;
}

.formWrapper form button{
    padding: 10px;
    margin: 18px;
    width: 300px;
    border-radius: 5px;
    background-color: #189AB4;
    color: #fff;
}